<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Category</title>
</head>
<body>
    <%- include('./partials/nav') %>
  <h1> category</h1>
  <li><%= category.name %></li>
  <ul>
    <% category.forEach((item) => { %>
        <li>
            <p><%= item.name %></p>
            <p><%= item.price %></p>
            <p><%= item.rating %></p>
            <p><%= item.details %></p>
        </li>
    <% }); %>
  </ul>
</body>
</html>